{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>

<p><strong>Address</strong></p>
<p>{{doc.address}}</p>

<p><strong>Contact</strong></p>
<p>{{doc.contact_number}}</p>

{% set doctor = frappe.get_doc("Doctor", doc.doctor) %}

<p><strong>Doctor</strong></p>
<p>{{doctor.full_name}}</p>

<ul>
{% for shifts in doctor.doctor_shift %}
<li>{{shifts.start_time}} - {{shifts.end_time}}</li>
    {% endfor %}
</ul>
   



{% endblock %}

<!-- this is a sample default web page template -->